<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3"> Litsado de empleados </span>
            <button class="btn btn-dark btn-lg" routerLink="/create-empleados">Agregar</button>
            <table class="table mt-5 table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellid</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Diomedes</td>
                        <td>Diaz</td>
                        <td>987654321</td>
                        <td>1500000</td>
                        <td><i class="fa fa-edit fa-lg text-info" style="margin-right: 5px;"></i>
                            <i class="fa fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Luis</td>
                        <td>Diaz</td>
                        <td>123456789</td>
                        <td>2500000</td>
                        <td><i class="fa fa-edit fa-lg text-info" style="margin-right: 5px;"></i>
                            <i class="fa fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Buenos</td>
                        <td>Diaz :v</td>
                        <td>987321654</td>
                        <td>3500000</td>
                        <td><i class="fa fa-edit fa-lg text-info" style="margin-right: 5px;"></i>
                            <i class="fa fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>buenashhh</td>
                        <td>Diaz</td>
                        <td>321654987</td>
                        <td>4500000</td>
                        <td><i class="fa fa-edit fa-lg text-info" style="margin-right: 5px;"></i>
                            <i class="fa fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>