<app-navbar></app-navbar>

<router-outlet></router-outlet>
<!-- Si hacemos las rutas de acá se empezará a mostrar segun la ruta que pongamos
en los path tenemos: 
{path: 'list-empleados', component: ListEmpleadosComponent},
y el de create.. -->

<!-- path: '', redirectTo: 'list-empleados', pathMatch: 'full' } con este decimos que si está 
vacio mande de salida a la lista inicial de empleados -->
<!-- 
{path: '**', redirectTo: 'list-empleados', pathMatch: 'full' }

este es si ponemos cualquier ruta rara nos manda a list-empleados -->



<!-- 
    FALTA LA EDICION DE DATOS
    CREAR LISTA EMPLEADOS 
CREAR LISTA JEFE
CREAR BASE DE DATOS EN FIREBASE

ALMACERAR UN SEGMENTO DONDE SALGA LA LISTA DE DIGIMON -->